:root {
  --bg-color-1: #1f49bb;
  --bg-color-2: #193990;
  --white-color: #fff; }

@font-face {
  font-family: 'Lucida-console';
  src: url("../fonts/lucon.ttf") format("truetype"); }

body {
  background: #000;
  font-family: 'Lucida-console';
  color: var(--white-color);
  margin: 0;
  font-size: 1em; }

.container {
  width: 60em;
  margin: auto;
  max-width: 75em;
  padding: 0em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: var(--white-color);
  text-decoration: none; }

article, nav {
  display: block; }

nav li a {
  padding: 0.2em 0.5em;
  display: block;
  border: 1px solid transparent; }

nav li a:hover {
  border: 1px solid #fff; }

nav li:last-child {
  margin-bottom: 0em; }

nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

ul {
  list-style: none;
  padding-left: 0; }

.fondo {
  background: var(--bg-color-2);
  background: -moz-linear-gradient(0deg, var(--bg-color-2) 0%, var(--bg-color-1) 100%);
  background: -webkit-linear-gradient(0deg, var(--bg-color-2) 0%, var(--bg-color-1) 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(var(--bg-color-2)), to(var(--bg-color-1)));
  background: -webkit-linear-gradient(bottom, var(--bg-color-2) 0%, var(--bg-color-1) 100%);
  background: -o-linear-gradient(bottom, var(--bg-color-2) 0%, var(--bg-color-1) 100%);
  background: linear-gradient(0deg, var(--bg-color-2) 0%, var(--bg-color-1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--bg-color-2)",endColorstr="var(--bg-color-1)",GradientType=1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.borde-juego {
  border: 1em solid transparent;
  padding: 0.1em 0em 0.2em;
  -webkit-border-image: url(../img/border-fc.png) 15 round;
  -o-border-image: url(../img/border-fc.png) 15 round;
  border-image: url(../img/border-fc.png) 15 round; }

.borde-noticias {
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 1em solid transparent;
  padding: 0.2em 0.4em 0.3em;
  -webkit-border-image: url(../img/border-fc.png) 15 round;
  -o-border-image: url(../img/border-fc.png) 15 round;
  border-image: url(../img/border-fc.png) 15 round; }

.noticias {
  background: #000;
  width: 18em;
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  left: 4em;
  z-index: 10;
  height: 4.5em;
  overflow: hidden;
  overflow-y: scroll; }

.noticias ul {
  margin-top: 0px; }

.noticias ul li {
  margin-top: 1.1em;
  border-bottom: 1px dashed #fff;
  padding-bottom: 1em; }

.noticias-titulo {
  position: absolute;
  bottom: 3.7em;
  z-index: 20;
  left: 9em;
  font-size: 0.9em;
  line-height: 0em; }

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contenido {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.pie {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.fila {
  width: 100%;
  position: relative; }

/* .home .group-hero
    width: 24em
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    height: 35em
    -webkit-justify-content: center
    -ms-flex-pack: center
    justify-content: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    position: relative */
.home .group-hero {
  width: 24em;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  height: 35em;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }

.heroe {
  position: absolute;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

footer .container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

/* .matias
    background: url(../img/matias.png) no-repeat center
    width: 322px
    height: 380px
    z-index: 4
    bottom: 4.8em */
.matias {
  background: url(../img/matias.png) no-repeat center;
  width: 322px;
  height: 380px;
  z-index: 4; }

/* .leon
    background: url(../img/leon.png) no-repeat center
    width: 142px
    height: 284px
    z-index: 3
    left: 2em
    bottom: 10em */
.leon {
  background: url(../img/leon.png) no-repeat center;
  width: 142px;
  height: 284px;
  z-index: 3;
  -ms-flex-item-align: start;
  align-self: flex-start; }

/* .william
    background: url(../img/william.png) no-repeat center
    width: 288px
    height: 320px
    z-index: 1
    top: 0em
    left: 4.7em */
.william {
  background: url(../img/william.png) no-repeat center;
  width: 288px;
  height: 320px;
  z-index: 1; }

/* .sophie
    background: url(../img/sophie.png) no-repeat center
    width: 170px
    height: 338px
    z-index: 2
    right: 3em
    bottom: 11em */
.sophie {
  background: url(../img/sophie.png) no-repeat center;
  width: 170px;
  height: 338px;
  z-index: 2;
  -ms-flex-item-align: end;
  align-self: flex-end; }
