doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title Fuerza Carmesí | RPG fantasy
    link(href='css/estilo.css', type='text/css', rel='stylesheet')
  body
    header
    section.home
      div.container
        div.fila.flex-box.contenido
          div.group-hero
            div.heroe.william
            div.heroe.sophie
            div.heroe.leon
            div.heroe.matias
          nav
            div.fondo
              div.borde-juego
                ul
                  li
                    a(href="#") Inicio
                  li
                    a(href="#") Historia
                  li
                    a(href="#") Personajes
                  li
                    a(href="#") Mundo
                  li
                    a(href="#") Galería
                  li
                    a(href="#") Tips
        div.fila
          div.noticias-titulo.borde-juego.fondo Noticias
          div.noticias.borde-noticias
            ul
              li 
                strong 10 de octubre de 2019
                br
                | Nulla sit amet ipsum eget enim porttitor pretium
              li
                strong 11 de noviembre de 2019
                br
                | Vestibulum vel dolor fringilla, auctor tortor at.
              li
                strong 12 de diciembre de 2019
                br
                | Duis mi viverra vel dapibus pellentesque in nibh.
    footer
      div.container
        div.fila.flex-box.pie &copy; True Role Dreams 2019. Algunos derechos reservados x.x |&nbsp;
          | 
          a(href="#") Créditos y recursos