doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title Fuerza Carmes&iacute; | Fantasy RPG
    link(href='resources/lightbox/style.css', type='text/css', rel='stylesheet')
    script(src='resources/lightbox/lightbox.js')
    link(href='css/estilo.css', type='text/css', rel='stylesheet')
  body
    #video.lightbox(onclick="hideVideo('video','youtube')")
      .lightbox-container
        .lightbox-content
          button.lightbox-close(onclick="hideVideo('video','youtube')")
            | ✕
          .video-container
            iframe#youtube(width="560" height="315" src="https://www.youtube-nocookie.com/embed/7zyWdRx5oLc?controls=0" frameborder="0" allow="autoplay;" allowfullscreen="")

    header
      a(href="index.html").logo
    section.inner
      div.container
        div.flex-box.contenido
          article.fondo
            div.borde-juego.texto-contenido
                h2 Personajes 
                div.character
                    h3 Matias Zenglein
                    div.data 
                        img(src="img/h1.jpg").borde-imagen
                        ul
                            li
                                strong Edad:
                                |  19 a&ntilde;os
                            li
                                strong Peso:
                                |  65 kg
                            li
                                strong Altura:
                                |  1.65 m
                            li
                                strong Ocupaci&oacute;n:
                                |  Infanter&iacute;a
                    p Suspendisse pellentesque sapien non ultricies auctor

          nav
            div.fondo.menu
              div.borde-juego
                ul
                  li
                    a(href="index.html") Inicio
                  li
                    a(href="story.html") Historia
                  li
                    a(href="characters.html") Personajes
                  li
                    a(href="world.html") Mundo
                  li
                    a(href="gallery.html") Galería
                  li
                    a(href="tips.html") Tips
            div.fila
              div.noticias-titulo.borde-juego.fondo Noticias
              div.noticias.borde-noticias
                ul
                  li 
                    strong 10 de octubre de 2023
                    br
                    | Nulla sit amet ipsum eget enim porttitor pretium
                  li
                    strong 11 de noviembre de 2024
                    br
                    | Vestibulum vel dolor fringilla, auctor tortor at.
                  li
                    strong 12 de diciembre de 2025
                    br
                    | Duis mi viverra vel dapibus pellentesque in nibh.
          
    footer
      div.container
        div.flex-box.pie &copy; True Role Dreams 2022. Algunos derechos reservados x.x |&nbsp;
          | 
          a(href="#") Créditos y recursos