doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title Fuerza Carmes&iacute; | Fantasy RPG
    link(href='resources/lightbox/style.css', type='text/css', rel='stylesheet')
    script(src='resources/lightbox/lightbox.js')
    link(href='css/estilo.css', type='text/css', rel='stylesheet')
  body
    #video.lightbox(onclick="hideVideo('video','youtube')")
      .lightbox-container
        .lightbox-content
          button.lightbox-close(onclick="hideVideo('video','youtube')")
            | ✕
          .video-container
            iframe#youtube(width="560" height="315" src="https://www.youtube-nocookie.com/embed/7zyWdRx5oLc?controls=0" frameborder="0" allow="autoplay;" allowfullscreen="")

    header
      a(href="index.html").logo
    section.inner
      div.container
        div.flex-box.contenido
          article.fondo
            div.borde-juego.texto-contenido
                h2 Historia 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at imperdiet lectus, quis ultrices quam. Nulla lobortis, dolor vel tristique fringilla, enim velit elementum urna, cursus interdum ante orci ac nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin a malesuada ante. Sed eget ex et mi viverra accumsan a ac sem.
                p Curabitur ultricies vulputate mi vel ultricies. Vivamus aliquet quam velit, id feugiat arcu fermentum vel. Aliquam non consequat quam, vel sollicitudin nulla. Nullam et elementum nibh. Ut fermentum, libero vitae tempus posuere, risus purus cursus mauris, et elementum sapien magna vitae mi. Mauris a lectus at erat dapibus ornare eu a mi. Maecenas in bibendum sem. Maecenas ut maximus nulla. Nullam eu tortor ac lectus dapibus facilisis nec vitae ex. Ut ac pretium massa, vel faucibus orci. Integer malesuada enim ut pulvinar malesuada. Aenean porta nunc eu auctor rutrum. Curabitur at sem eu odio porta lobortis eget id elit.
                p Suspendisse pellentesque sapien non ultricies auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisi odio, porttitor id sollicitudin non, rhoncus bibendum elit. Aenean non eros a ipsum mattis tempus quis ut mauris. Donec faucibus mollis diam tincidunt congue. Nulla posuere blandit tincidunt. Nunc sit amet metus condimentum, bibendum nisl lobortis, euismod ipsum. Nam et tellus ut justo viverra tristique ut et mauris. Sed mollis mauris id porttitor sollicitudin.
          nav
            div.fondo.menu
              div.borde-juego
                ul
                  li
                    a(href="index.html") Inicio
                  li
                    a(href="story.html") Historia
                  li
                    a(href="characters.html") Personajes
                  li
                    a(href="world.html") Mundo
                  li
                    a(href="gallery.html") Galería
                  li
                    a(href="tips.html") Tips
            div.fila
              div.noticias-titulo.borde-juego.fondo Noticias
              div.noticias.borde-noticias
                ul
                  li 
                    strong 10 de octubre de 2023
                    br
                    | Nulla sit amet ipsum eget enim porttitor pretium
                  li
                    strong 11 de noviembre de 2024
                    br
                    | Vestibulum vel dolor fringilla, auctor tortor at.
                  li
                    strong 12 de diciembre de 2025
                    br
                    | Duis mi viverra vel dapibus pellentesque in nibh.
          
    footer
      div.container
        div.flex-box.pie &copy; True Role Dreams 2022. Algunos derechos reservados x.x |&nbsp;
          | 
          a(href="#") Créditos y recursos